@font-face {
    font-family: "Alegreya";
    src: url(https://fonts.google.com/selection?query=Alegreya);
}
body{
    font-family: "Alegreya";
    padding: 0px;
    margin: 0px;
    border: 0px;
}
/* CABEÇALHO */
.cabecalho {
    display: flex;
    padding: 8px 0;
    background-color: bisque;
}

.div-cabecalho1{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 50px;
}
.icone1{
    height: 40px;
}

.div-cabecalho2{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 50px;
}
.icone2{
    height: 25px;
    width: 25px;
}

/* Conteudo */
.main{

}